body{
    background-image: url(photo_2025-05-05_19-14-08.jpg);
    background-size: cover; 
}
h1{
    color: red;
    text-align: center;
    padding: 100px    
}
li{
    color: red;
}
p{
        color:red;
    }